* {
  margin: 0;
  padding: 0;
    font-family: sans-serif;
}

:root {
  --main-color-1: #1d70e6;
  --main-color-2: #10c9f7;
  --bg-color: #fff;
  --headeing-color: #1d70e6;
}
/* ======== universal classes css ============ */
.icon{
    display: none;
}
#cross{
    position: absolute;
    right: 30px;
    top:30px;
}
.btn-1 {
  white-space: nowrap;
  padding: 0px 20px;
  font-weight: 600;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
}
.btn-2 {
  font-weight: 600;
  width: 100%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0px;
  padding: 15px 20px;
  background-color: var(--main-color-1);
  color: #fff;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 100px;
  box-sizing: border-box;
  right: 30%;
  justify-content: center;
  border: 3px solid whitesmoke;
  z-index: 9;
  overflow: auto; 
  width: 30%;
  height: 70%;
  background-color: white;
}

div.col{
    width: 50%;
    display: contents;
    margin-right: 2%;
    margin: 5px;
}
div.row{
    width: 100%;
}
/* Add styles to the form container */
.form-container {
    max-width: 700px;
    display: flex;
    padding: 30px 15px;
    background-color: white;
    margin: 10px;
    border-radius: 15px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  /* max-width: 700px;
  padding: 15px;
  background-color: white;
  margin: 10px; */
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password], .form-container input[type=number] {
  width: 90%;
  padding: 15px;
  margin: 5px 5px 22px 0;
  border: none;
  outline: auto;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus, .form-container input[type=number]:focus {
  background-color: #ddd;
  outline: auto;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: var(--main-color-1);
  color: white;
  padding: 16px 20px;
  cursor: pointer;
  width: 95%;
  margin-bottom:10px;
  opacity: 0.8;
  border-radius: 4px;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
/* ============ Header section starts =========== */
.header {
  /* width: 100%; */
  height: 70px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #fff;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.nav-brand {

  /* padding-left: 130px;
    padding-top: 20px;
  text-align: left;
  width: 30%; */
    text-align: right;
}
.header .nav-brand img {
    /* width: 70%; */
    margin: auto;
}

.header .nav {
  /* width: 60%; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.header .nav .nav-item {
  display: inline-block;
}
.header .nav .nav-item .nav-link {
  padding: 10px;
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
}
.header .nav-btn {
  /* width: 20%; */
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ================= header section end ================= */
/* =============== first-section starts ================= */
.first-section {
  width: 100%;
  height: 86vh;
  display: flex;
  flex-direction: row;
  background: linear-gradient(
    103deg,
    rgba(29, 112, 230, 1) 4%,
    rgba(16, 201, 247, 1) 39%,
    rgba(29, 112, 230, 1) 79%
  );
}
.first-section .part-1 {
  padding: 50px;
  width: 50%;
  text-align: right;
}
.first-section .part-1 img {
  width: 80%;
}
.first-section .part-2 {
  width: 60%;
  text-align: center;
}
.first-section .part2 {
  width: 40%;
  text-align: center;
}
.first-section .part-2 .content {
  padding: 50px;
  width: 70%;
  margin-top: 15%;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 50px grey;
}
.first-section .part-2 .content h2 {
  margin: 20px 0;
    line-height: 50px;
    font-size:35px;
}
.first-section .part-2 .content p {
  margin: 10px 0 20px;
     line-height: 30px;
    font-size:20px;
    color: silver;
}
/* =============== first-section end =============================== */
/* =============== listing-section starts ========================= */



.lable {
  width: 100%;
  height: 50px;
  margin: 0px 0 10px;
}
.lable h3 {
  float: left;
  font-size: 24px;
}
.lable h3 span {
  font-size: 14px;
  font-weight: 100;
  margin-left: 20px;
}
.card {
  margin: 1%;
  width: 31%;
  overflow: hidden;
  float: left;
  border-radius: 15px;
  background: #fff;
}
.card img {
  width: 100%;
  height: 220px;
}
.card h4 {
  font-weight: 700;
  font-size: 18px;
  padding: 5px 10px 5px 10px;
}
.card .address {
  width: 100%;
  margin: 5px auto;
  padding: 0px 10px;
}
.card .address span {
  font-size: 14px;
  font-weight: lighter;
}
.card .address img {
  width: 15px;
  height: 15px;
  /* margin-top: 8px; */
  margin-left: -3px;
  margin-right: 5px;
  float: left;
}
.card .packag {
  width: 100%;
  margin: 6px auto;
  margin-bottom: 30px;
}
.card .packag span {
  font-size: 14px;
  font-weight: lighter;
}
.card .packag img {
  width: 15px;
  height: 15px;
  margin-left: 7px;
  margin-right: 5px;
  float: left;
}



.listing-section {
  width: 100%;
  background: #eaf4fa;
  padding-top: 50px;
  padding-bottom: 50px;
}
.listing-section .contain {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.listing-mapsection {
  width: 100%;
  background: #eaf4fa;
  padding-top: 50px;
  padding-bottom: 50px;
}

.listing-mapsection .contain {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
}



.contain .part-1 {
  width: 34%;
  min-height: 90vh;
  /* height: 678px; */
  /* margin: 0 1% 0 0; */
  background: #fff;
  text-align: center;
  padding: 10px 0;
  border-radius: 15px;
}
/* .contain .part-1 .avtar {
  padding: 50px 10px 10px;
} */
.contain .part-1 .avtar img {
  /* width: 50%; */
  width: 114px;
  height: 114px;
  border-radius: 50%;
}
.contain .part-1 .avtar h4 {
  margin: 10px 0;
}
.contain .part-1 .social-icons {
  list-style: none;
  padding-bottom: 10px;
}
.contain .part-1 .social-icons li {
  display: inline-block;
}
.contain .part-1 .social-icons li img {
  width: 30px;
  padding: 5px;
}
.contain .part-1 .side-nav {
  list-style: none;
  margin: 20px 0;
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  justify-content: flex-start;
  border-top: 1px solid #e8e8e8;
  padding: 15px;
}
.contain .part-1 .side-nav li {
  padding: 10px;
  text-align: left;
  font-size: 15px;
}
.contain .part-1 .side-nav li.active {
  border-left: 4px solid var(--main-color-1);
  background: #eaf4fa;
}
.contain .part-1 .side-nav li img {
  width: 20px;
  margin-right: 20px;
}
.contain .part-1 .message {
  margin: 15px;
  padding: 10px;
  background: #eaf4fa;
/* 
  border-radius: 4px; */
}
.contain .part-1 .message h4 {
  margin: 5px 0;
  font-size: 20px;
  text-align: left;
}
.contain .part-1 .message p {
  font-size: 16px;
  text-align: left;
}
.contain .part-1 .log-out button img {
  width: 10%;
  margin-right: 10px;
  margin-bottom: -4px;
}
.contain .part-2 {
  padding: 0px 15px;
  width: 100%;
}
.contain .part-3 {
  width: 34%;
  min-height: 90vh;
  /* height: 678px; */
  /* margin: 8% 1% 0 0; */
  background: #fff;
  text-align: left;
  /* padding: 10px 10px; */
  padding: 30px 15px;
  border-radius: 15px;
}
.contain .part3 {
  width: 60%;
  min-height: 90vh;
  /* height: 450px; */
  /* margin: 8% 1% 0 0; */
  background: #fff;
  text-align: left;
  padding: 10px 10px;
  border-radius: 15px;
}
.filters h2 {
  margin: 10px 0 20px;
}
.filters span {
  font-size: 13px;
  font-weight: 100;
}
.filters select {
  margin: 8px 0;
  width: 100%;
  padding: 8px;
  background-color: #eaf4fa;
  color: #333;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.filters button {
  margin: auto;
}
.mobile-footer{
    display: none;
}
#part1{
        display: block;
        /* overflow-y: scroll; */
    }

.status-pending {
  text-align: center;
  width: 90%;
  background-color: rgb(255, 123, 0, 0.2);
  color: rgb(255, 123, 0);
  font-size: 16px;
  padding: 8px 0;
  margin: 16px auto;
  font-weight: 400;
}
.status-sucess {
  text-align: center;
  width: 90%;
  background-color: rgb(75, 204, 0, 0.2);
  color: green;
  font-size: 16px;
  padding: 8px 0;
  margin: 16px auto;
  font-weight: 400;
}
.mt-2 {
  margin-top: 20px !important;
}
.mb-2 {
  text-align: right;
  margin-bottom: 20px !important;
}

.p-2 {
  padding: 20px !important;
}
a {
  text-decoration: none;
  color: black;
}
.lable {
  width: 100%;
  height: 50px;
  margin: 0px 0 10px;
  display: block;
}
.lable h3 {
  float: left;
  font-size: 24px;
}
.lable h3 span {
  font-size: 14px;
  font-weight: 100;
  margin-left: 20px;
}

.avtar {
  padding: 0px;
  text-align: center;
}
.avtar img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.avtar h4 {
  margin: 10px 0;
}
#part1{
    display: block;
    padding: 30px 15px;
}
.dropdown {
    padding:0px;
    text-align: left;
}

.drop {
    /* padding: 10px; */
    width: 96%;
    padding: 15px;
    margin: 5px 5px 22px 0;
    border: none;
    outline: auto;
    background: #f1f1f1;
}
.mt-2 {
  margin-top: 20px !important;
}

.w-80 {
  width: 80% !important;
}
.w-90 {
  width: 90% !important;
}
.m-auto {
  margin: auto !important;
}
.pt-2 {
  padding-top: 20px !important;
}
.p-2 {
  padding: 20px !important;
}
a {
  text-decoration: none;
  color: black;
}
.update-card {
  overflow: hidden;
  min-height: 90vh;
  border-radius: 15px;
  background: #fff;
  position: relative;
  padding: 20px;
  text-align: center;
  margin: 1%;
}
.restaurant-card {
  overflow: hidden;
  background: #fff;
  position: relative;
  margin:-2% 2% 2% 2%;
  padding: 15px 8px;
  border-radius: 15px;
}



.input {
  width: 90%;
  background: #e8edf6;
  font-size: 16px;
  padding: 10px;
  color: #000;
  margin: 12px 0;
  border: 1px solid #dee4ef;
  border-radius: 4px;
}

.links-card {
  overflow: hidden;
  border-radius: 15px;
  position: relative;

}
.social {
  width: 100%;
  background: #fff;
  padding: 10px;
  /* margin-top: 22px; */
}
.social ul {
  width: 100%;
  list-style: none;
}
.social ul li {
  width: 90%;
  background: #e8edf6;
  font-size: 14px;
  padding: 10px;
  color: #000;
  margin: 12px 0;
  border: 1px solid #dee4ef;
}
.social ul li span {
  font-size: 12px;
  position: absolute;
  color: red;
  font-weight: 600;
  text-transform: capitalize;
  right: 8%;
}
.stats-card {
  overflow: hidden;
  border-radius: 15px;
  background: #fff;
  position: relative;
  padding: 20px;
  flex: 0 0 50%;
  /* max-width: 50%; */
  /* width: 50%; */
  float: left;
  text-align: left;
  margin: 1%;
}
.stats-card-full {
  overflow: hidden;
  border-radius: 15px;
  background: #fff;
  position: relative;
  padding: 20px;
  flex: 0 0 93%;
  max-width: 93%;
  width: 93%;
  float: left;
  text-align: left;
  margin: 1%;
}
.progress {
  margin: 20px auto;
  padding: 0;
  width: 90%;
  height: 15px;
  overflow: hidden;
  background: #e5e5e5;
}
.bar {
  position: relative;
  float: left;
  min-width: 1%;
  width: 60%;
  height: 100%;
  background: linear-gradient(90deg, #069479, #37dc57);
}

button#click-photo {
  position: absolute;
  bottom: 20px;
  left: 0px;
  border-radius: 50%;
  display: flex;
  z-index: 99;
  margin-left: 42%;
  border: none;
}

#canvas {
  position: absolute;
  left: 0px;
}

#req-sucess-pop{
  height: 200px;
  width: 200px;
  background-color: #dee4ef;
}

.one, .two, .three{
  display: block;
}

#sign_up_heading{
  padding-top: 15px;
  padding-bottom: 10px;
}

.change-image{
  position: absolute;
}

.btn-3 {
  
  padding: 10px 20px;
  font-weight: 600;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
}

.btn-4 {
  
  padding: 10px 20px;
  font-weight: 600;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
}

.btn-5 {
    white-space: nowrap;
  padding: 20px 40px;
  font-weight: 600;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  color: #000;
  cursor: pointer;
 
}		
.form-camera {
  display: none;
    position: fixed;
    top: 150px;
    /* right: 50%; */
    border: 3px solid #f1f1f1;
    z-index: 9;
    overflow: none;
    background-color: #ffffff00;
    margin-left: 28%;
 /*  display: none;
  position: fixed;
  top: 150px;
  right: 50%;
  border: 3px solid #f1f1f1;
  z-index: 9;
  overflow: none;
  width: 20%;
  height: 32%;
  background-color: white; */
}

.popup {
  display: none; 
  position: absolute; /* Stay in place */
  z-index: 1;
  left: 30%;
  top: 50%;
  width: 30%; /* Full width */
  height: 20%; /* Full height */
   text-align: center; 
    border: thin;
    opacity: inherit;
}


.accept {
  color: #FFF;
  background: #44CC44;
  padding: 10px 20px;
}
.accept:hover {
  background: #6FE76F;
  /* box-shadow: 0 4px 0 0 #7ED37E; */
}
.deny {
  color: #FFF;
  background: tomato;
  padding: 10px 20px;
  
}
.deny:hover {
  background: rgb(255, 147, 128);
  /* box-shadow: 0 4px 0 0 #EF8282; */
}
.sucess-pop{
  height: 200px;
  width: 400px;
  background-color: #dee4ef;
  text-align: center;
}
.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid gainsboro;
  position: fixed;
  top: 0px;
  left: 33%;
  /* width: 80%; */
  opacity: 1;
  border-radius: 15px;
}

/* Custom Scroll */
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color-1); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-color-2); 
}

#listing-count{
  float: right;
  padding: 7px 20px;
  text-transform: capitalize;
}

.log-out{
  border-top: 1px solid #e8e8e8;
  padding: 15px 0;
  border-bottom: 1px solid #e8e8e8;
}

.pr-2{
  padding-right: 20px !important;
}
.popup-sm-msg{
  font-size: 12px;
  margin-top: 25px;
  margin-bottom: 15px;
}
button.popup-btn{
  width: 100%;
}
.pr-1{
  padding-right: 10px !important;
}
.part-1.map{
  width: 22%;
}